html{
    background-color: whitesmoke;
    margin: 50px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

h1 {
    color: darksalmon;
}

a {
    color: blue;
    text-decoration: none;

}

a:visited {
    color: darkmagenta;
}

a:hover {
    color: orange;
}

a:active{
    color: purple;
}

table {
    border-color: blue;
}