html{
    background-color: whitesmoke;
    margin: 25px;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    border: 2px solid pink;
    border-radius: 5px;
}

h1 {
    background-color: cyan;
    color: black;
    padding: 10px 20px;
    border: 2px solid cyan;
    border-radius: 5px;
}

p {
    margin: 10px;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 5px;
}

.container {
    flex: auto;
    justify-content: center;
    align-items: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: orange;
}

a:active{
    color: red;
}

table {
    border-color: blue;
}

ul, ol{
    border: 2px solid pink;
    border-radius: 5px;
}