body {
    text-align: center;
    list-style-position: inside;
    font-family: sans-serif;
    margin: 30px;
    border: 1px solid gray;
    padding: 20px;
    font-size: 30px;
    background: beige;
}

body h1 {
    color: lightgray;
    padding: 30px;
}

.summercourse {
    color: salmon;
}

.new-item {
    color: red;
}

.dish {
    font-variant: small-caps;
    font-weight: bold;
    color: black;
}

.dishdescription {
    font-size: 15px;
    color:yellowgreen;
    font-size: 20px;
}

.price {
    font-size: 40px;
    color:plum;
    font-weight: bold;
    border: 1px solid plum;
    background-color: cyan;
    
}

.warning{
    font-size: 30px;
    color:red;
}

.homepage{
    font-size: 20px;
}