body {
    font-family: sans-serif;
    margin: 30px;
    border: 1px solid gray;
    padding: 30px;
}

body h1 {
    color: lightgray;
    padding: 30px;
}

.summercourse {
    color: salmon;
}

.new-item {
    color: red;
}

.dish {
    font-variant: small-caps;
    font-weight: bold;
    color: black;
}