body {
    font-family: sans-serif;
    margin: 30px;
    border: 1px solid gray;
    padding: 30px;
    font-size: 30px;
}

body h1 {
    color: lightgray;
    padding: 30px;
}

.summercourse {
    color: salmon;
}

.new-item {
    color: red;
}

.dish {
    font-variant: small-caps;
    font-weight: bold;
    color: black;
}

.dishdescription {
    font-size: 15px;
    color:tomato;
    font-size: 20px;
}

.price {
    font-size: 40px;
    color:orangered;
    font-weight: bold;
}