.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: white;
    padding: 10px;
}

.explore {
    font-size: 56px;
    font-family: 'Noto Sans';
    font-weight: 800;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.exploresummary {
    font-size: 20px;
    font-family: 'Noto Sans';
    font-weight: 400;
}

.image1 {
    width: 936px;
    height: 629px;
    grid-column-start: 3;
    grid-column-end: 7;
}

.eight {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.image2 {
    width: 403px;
    height: 508px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.image3 {
    width: 396px;
    height: 512px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

.seven {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.six {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}